<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="./resources/element.css">
  <link rel="stylesheet" href="./resources/style.css">
</head>
<body>
  <div id="app">
      <el-alert title="温馨提示" type="success" effect="dark" class="mb20" description="搜索js文件中引用的 rap 地址是否有效" show-icon>
        </el-alert>
      <p>当前工程目录：{{rootPath}}</p>
      <p>
        models.js 文件目录：{{modelsPath}}
      </p>
      <el-button :loading="loading" plain @click="startScan">{{btnText}}</el-button>
     
      <div v-if="show">
        <div v-if="list.length > 0" style="margin:10px 0px;color:#333">您的如下Rap引用可以能失效</div>
        <div v-else style="margin:10px 0px;color:#333">恭喜你：没有发现无效Rap</div>
        <p v-for="(item,index) in list">
          {{index + 1}}: {{item.key}}
          <a href="javascript" @click="openEditor($event,index)" style="margin-left: 15px;">查看</a>
        </p>
      </div>
  </div>
</body>
<script src="./config/vscode-utils.js"></script>
<script src="./config/command.js"></script>
<script src="./resources/vue.min.js"></script>
<script src="./resources/element.min.js"></script>
<script src="./resources/element.min.js"></script>
<script src="./rap-scan.js"></script>

</html>